<!doctype html>
<html>
<head>
    <title>Add Book</title>
</head>
<body>
    <h1>Add a New Book</h1>
    <form method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"><br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author"><br>
        <label for="publication_year">Publication Year:</label>
        <input type="text" id="publication_year" name="publication_year"><br>
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre"><br>
        <label for="language">Language:</label>
        <input type="text" id="language" name="language"><br>
        <label for="status">Status:</label>
        <input type="text" id="status" name="status"><br>
        <label for="serie">Serie:</label>
        <input type="text" id="serie" name="serie"><br>
        <input type="submit" value="Add Book">
    </form>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
